.App {
  text-align: center;
}

.App-top {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* makes elements not be side2side */
}

.App-top h2 {
  font-size: 10vw;
  /* text-decoration: none; */
}

.App-bottom {
  background-color: grey;
  flex-direction: column;
  display: flex;
}

.App-bottom h2 {
  font-size: 7vw;
}